// START OF SINGLE BLOG POST STYLING

.blogPost {
    flex: 0 1 80%;
    background-color: rgba(241, 194, 194, 0.233);
    padding: 20px 25px 0 25px;
}

.blogPostListing {
    margin: 25px 0;
    color: #333333;
}

.blogPostTitle {
    font-size: 4.0rem;
    text-decoration: underline;
    margin-bottom: 20px;
}

.blogPostDate {
    margin-bottom: 25px;
    margin-top: 5px;
}

.blogPostCategories {
    font-style: oblique;
}

.blogPostListing div p {
    margin-bottom: 15px;
}

.blogPostImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 50%;
    img {
        max-width: 100%;
    }
}

.blogPostText {
    .bold {
        font-weight: 800;
    }
    .underline {
        text-decoration: underline;
    }
    .italic {
        font-style: oblique;
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }
    .left {
        text-align: left;
    }
    .big {
        font-size: 2.0rem;
    }
    .small {
        font-size: 1.2rem;
    }
}

.blogPostComments {
    margin-top: 25px;
    width: 100%;
}

.commentForm {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 25px
}

.commentSubmit {
    margin-top: 15px;
    padding: 5px;
    width: 30%;
    font-size: 1.4rem;
}

.commentLabel {
    margin-top: 15px;
    margin-bottom: 5px;
}

.singleComment {
    margin: 0 0 15px 0;
    padding: 20px 25px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(66, 66, 66, 0.575);
    h4 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1.3rem;
        margin-top: 10px;
    }
}

// END OF SINGLE BLOG POST STYLING

@media (max-width: 550px) {

    .commentForm {
        width: 100%;
    }

    .commentSubmit {
        width: 40%;
        font-size: 1.4rem;
    }
    

} /*END OF MAX-WIDTH 750PX */