//  START OF BLOG LIST STYLING

.blogListListing {
    margin-top: 30px;
    padding: 20px 25px;
    color: #333333;
    transition: all 0.4s ease-in;
    position: relative;
    display: flex;
    background-color: rgba(252, 252, 252, 0.877);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    &:hover {
        background-color: rgba(236, 150, 51, 0.5);
    }
}

.blogListPicture {
    flex: 0 1 25%;
    width: 25%;
    margin-right: 25px;
    img {
        max-width: 100%;
    }
}

.blogListText {
    flex: 1 1 75%;
}

.blogListTitle {
    font-size: 2.4rem;
    margin-bottom: 15px;
    text-decoration: underline;
}

.blogListAuthor {
    margin-bottom: 3px;
}

.blogListDate {
    margin-bottom: 15px;
}

.blogListDescription {
    margin-bottom: 15px;
}

.blogListCategories {
    font-style: oblique;
}

// END OF BLOG LIST STYLING

@media (max-width: 750px) {

    .blogListListing {
        flex-direction: column;
    }

    .blogListPicture {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
        width: 100%;
    }

    .blogListDescription {
        display: none;
    }

} /*END OF MAX-WIDTH 750PX */