.contactUsForm {
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
    label {
        margin-top: 20px;
    }
}

.contactName, 
.contactEmail {
    flex: 0 1 48%;
    margin: 25px 0;
    padding: 5px;
}

.contactMessage {
    flex: 1 1 100%;
    padding: 5px;
}

.contactSubmit {
    border: none;
    padding: 5px;
    margin-top: 20px;
    background-color: transparent;
    transition: all 0.5s ease-in;
    &:hover {
        background-color: #333333;
        color: rgba(240, 240, 240, 0.945);
    }
}

@media (max-width: 750px) {

    .contactName, 
    .contactEmail {
        flex-basis: 100%;
        margin-bottom: 0;
    }    

    .contactMessage {
        margin-top: 25px;
    }

} /*END OF MAX-WIDTH 750PX */