//  START OF HEADER / NAV STYLING

.header {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    flex-basis: 100%;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    position: relative;
    h1 {
        display: block;
        width: 100%;
        padding-left: 10px;
        font-family: "Great Vibes", cursive;
        font-size: 5.0rem;
        font-weight: 400;
    }
}

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.topNavLinks {
    margin: 20px 0;
    list-style: none;
    width: 100%;
    display: flex;
    li {
        padding: 10px;
    }
    .navSeperator {
        padding: 10px 5px;
    }
}

.topNavHamburgerIcon {
	display: none;
	font-size: 3.5rem;
}

.exitResponsive {
	display: none;
	font-size: 2.5rem;
}

.topNavHamburgerMenu {
    width: 100%;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.show.topNavHamburgerMenu {
    display: block;
}

.navLink {
    color: #333333;
    &:visited {
        color: #333333;
    }
    li {
        padding: 10px;
        transition: all 0.5s ease-in;
        &:hover {
            background-color: rgba(236, 150, 51, 0.5);
            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
        }
    }
}

//  END OF HEADER / NAV STYLING

@media (max-width: 750px) {

    .header {
        // padding: 15px 25px;
        text-align: left;
        h1 {
            display: inline-block;
            width: auto;
        }
    }

    .navSeperator {
        display: none;
    }
    .topNavHamburgerIcon {
        display: inline-block;
	}

    .topNavLinks {
        .exitResponsive {
            display: flex;
            align-self: flex-end;
            padding: 0 25px 25px 0;
            color: #333333;
        }
    }

	.topNavHamburgerMenu {
		display: none;
		position: absolute;
        top: 0;
        right: 0;
		bottom: 0;
		left: 0;
		background: rgba(255,255,255,1);
        color: #FFFFFF;
        height: 100vh;
        z-index: 100;
	}

    .navColumns {
        flex-direction: column;
    }

    .topNavItemHidden {
        margin-bottom: 5px;
        text-align: center;
        font-size: 2.0rem;
        width: 100%;
        color: #333333;
    }

} /*END OF MAX-WIDTH 750PX */