header {
    padding: 30px;
    background-color: rgba(240, 240, 240, 0.945);
    flex-basis: 100%;
    text-align: center;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

.topNavLinks {
    margin: 20px 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    li {
        padding: 10px;
    }
    .navSeperator {
        padding: 10px 0;
    }
}

.topNavHamburgerIcon {
	display: none;
	font-size: 3.5rem;
}

.exitResponsive {
	display: none;
	font-size: 2.5rem;
}

.show.topNavHamburgerMenu {
	display: block;
}

.navLink {
    color: #333333;
    &:visited {
        color: #333333;
    }
    li {
        padding: 10px;
        transition: all 0.5s ease-in;
        &:hover {
            background-color: rgba(252, 252, 252, 0.877);
            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
        }
    }
}

@media (max-width: 750px) {

    .header {
        padding: 15px 25px;
        h1 {
            text-align: left;
            margin-bottom: 10px;
        }
    }

    .navSeperator {
        display: none;
    }

    .topNavHamburgerIcon {
        display: flex;
        justify-content: flex-end;
	}

	.exitResponsive {
		display: flex;
		padding: 25px 0 0 25px;
        color: #333333;
	}

	.topNavHamburgerMenu {
		display: none;
		position: absolute;
        top: 0;
        right: 0;
		bottom: 0;
		left: 0;
		background: rgba(255,255,255,1);
        color: #FFFFFF;
        height: 100vh;
        z-index: 100;
	}

    .navColumns {
        flex-direction: column;
    }

    .topNavItemHidden {
        margin-bottom: 5px;
        text-align: center;
        font-size: 2.0rem;
        width: 100%;
        color: #333333;
    }

} /*END OF MAX-WIDTH 750PX */