.sidebar {
    flex: 0 1 20%;
    background-color: rgba(240, 240, 240, 0.945);
    padding: 0 25px;
    font-family: 'Playfair Display', serif;
}

.sidebarLinks {
    margin: 20px 0;
    list-style: none;
    width: 100%;
    li {
        padding: 10px 0;
    }
}

.sidebarHeading {
    padding: 20px 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.navLink {
    &:visited {
        color: #333333;
    }
    li {
        padding: 10px;
        transition: all 0.5s ease-in;
        &:hover {
            background-color: rgba(252, 252, 252, 0.877);
            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
        }
    }
}