@import 'partials/setup';
@import 'partials/header';
@import 'partials/sidebar';
@import 'partials/landing';
@import 'partials/bloglist';
@import 'partials/blogpost';

.App {
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  min-height: 86vh;
}

.wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.733);
}
