header {
  padding: 50px;
  background-color: #999999;
  flex-basis: 100%; }

.sidebar {
  flex: 0 1 20%;
  background-color: peachpuff;
  padding-left: 25px; }

.sidebarLinks {
  margin: 20px;
  list-style: none; }

.sidebarHeading {
  padding-top: 20px; }

.landingPage {
  flex: 0 1 80%;
  background-color: paleturquoise;
  padding: 20px 0 0 25px; }

.blogPost {
  flex: 0 1 80%;
  background-color: skyblue;
  padding: 20px 0 0 25px; }

.App {
  display: flex;
  flex-direction: column; }

.mainContent {
  display: flex;
  min-height: 86vh; }

.wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto; }
